<div class="homePage">
    <div class="jumbotron">
        <div class="container">
            <h1>Search Videos</h1>
            <p>Search videos use Youtube api, you can add multiple emojos to each video. </p>
            <form #searchFrm="ngForm" class="form-horizontal form-inline" role="search">
                <div>
                    <input name="keyword" type="text" #keyword class="form-control col-sm-10" size="100" placeholder="Search" required>
                    <div class="col-sm-2">
                        <button type="submit" [disabled]="!searchFrm.form.valid"
                        class="btn btn-default" (click)="search(keyword)">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row" *ngIf="videos.length > 0">
            <div class="col-md-4 col-sm-12" *ngFor="let video of videos; let i = index;">
                <div class="well well-sm">
                    <img class="placeholder" src="/assets/placeholder.png">
                    <iframe id="ytplayer" type="text/html" width="100%" height="100%"
                      [src]='sanitizer.bypassSecurityTrustResourceUrl(video.url)'
                      frameborder="0"></iframe>
                    <img class="thumbnail" [src]="video.snippet.thumbnails.medium.url" *ngIf="!video.playing">
                    <div class="img-overlay" *ngIf="!video.playing">
                        <div class="pull-right">
                            <a class="btn btn-primary btn-lg" (click)="toggleEmojiDisplay(i)">
                                <i class="fa fa-bars" aria-hidden="true" *ngIf=" !video.showActions"></i>
                                <i class="fa fa-chevron-up" aria-hidden="true" *ngIf="video.showActions"></i>
                            </a>
                            <ul class="list-unstyled emoji-list" *ngIf="video.showActions">
                                <li *ngFor="let emoji of emojis; let j=index;" [ngClass]="{'selected': isSelected(emoji, video.id.videoId)}">
                                    <div class="emoji" (click)="toggleEmoji(emoji, video.id.videoId)">
                                        <i class="em {{emoji}}"></i>
                                        <span class="badge">{{video.emojis[emoji]||0}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="video-actions" *ngIf="!videos[i].playing">
                        <a class="btn-play" (click)="playVideo(i)">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="player-actions" *ngIf="videos[i].playing">
                        <a class="btn btn-primary btn-lg" (click)="closePlayer(i)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <ul class="pagination pagination-lg">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>
